[submodule "gem5"]
	path = gem5
	url = https://github.com/gem5/gem5.git
[submodule "HotSpot"]
	path = HotSpot
	url = https://github.com/uvahotspot/HotSpot.git
[submodule "cacti"]
	path = cacti
	url = https://github.com/HewlettPackard/cacti.git
